/* Create styles for the task list 
create variables
create switch for light and dark mode
*/

/* Variables */

:root{
    --bg-light:#ffffff;
    --bg-secundary:rgb(226, 226, 226);
    --color-text-main:black;
    --color-text-secondary:rgb(47, 47, 47);
    --color-text-error:red;
    --color-text-correct:green;
    --color-button-main:black;
    --color-button:white;
    --color-button-secondary:rgb(131, 146, 255);
    --box-shadow-light:rgb(95, 95, 95);
    --box-shadow-button:rgb(55, 55, 55);
    --box-shadow-input:rgb(85, 85, 85);

    --font-text:verdana;
    --font-base:16px;

}
[data-theme="light"]{
    --bg-light:#ffffff;
    --bg-secundary:rgb(226, 226, 226);
    --color-text-main:black;
    --color-text-secondary:rgb(47, 47, 47);
    --color-text-error:red;
    --color-text-correct:green;
    --color-button-main:black;
    --color-button:white;
    --color-button-secondary:rgb(131, 146, 255);
    --box-shadow-light:rgb(95, 95, 95);
    --box-shadow-button:rgb(55, 55, 55);
    --box-shadow-input:rgb(85, 85, 85);

    --font-text:verdana;
    --font-base:16px;

}

[data-theme=dark]{
    --bg-light:#242424;
    --bg-secundary:rgb(0, 0, 0);
    --color-text-main:rgb(255, 255, 255);
    --color-text-secondary:rgb(210, 210, 210);
    --color-text-error:rgb(255, 52, 52);
    --color-text-correct:rgb(40, 193, 40);
    --color-button-main:rgb(255, 255, 255);
    --color-button:black;
    --color-button-secondary:rgb(10, 25, 143);
    --box-shadow-light:rgb(219, 219, 219);
    --box-shadow-button:rgb(76, 76, 76);
    --box-shadow-input:rgb(175, 175, 175);

    
    --font-text:verdana;
    --font-base:16px;


}


/* ---------------------------------------------------- */
/* First-mobile design */

body{
    background:var(--bg-light);
    color:var(--color-text-main);
    font-family:var(--font-text);
    font-size:var(--font-base);
    line-height:1.5;
    padding: 1rem;
    margin:0;
    transition: 0.5s ease;
}

h1,h2{
    margin: 10px;
    padding: 0;
}
.header{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.mini-menu{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    margin:5px;
}

.create-task{
    width: calc(100% - 20px);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow:1px 1px 10px var(--box-shadow-light) ;
}



.button-task{
    background: var(--color-button-main);
    color: var(--color-button);
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}

.button-task:hover{
    background: var(--color-button-secondary);
}

.section-tasks{
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-light);
    box-shadow: -1px 1px 10px var(--box-shadow-light);
    transition: 0.2s ease-in-out;
}

.list-tasks{

    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.list-tasks p{
    text-align: center;
    padding-top: 50px;
    color: var(--color-text-secondary);
    font-size: 1.5rem;
}

.list-tasks p-description{
    text-align: center;
    padding: 50px 0;
    color: var(--color-text-secondary);
    font-size: 1rem;
}

.task-details{
    display: none;
}

.task-details.active{
    /*  */
    top: 0;
    position:absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: calc(100% - 2rem);
    height: 100vh;
    background-color:var(--bg-secundary);
    
    opacity: 0.98;

}

.close{
    color: var(--color-text-error);
    background: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 1.5rem;
;
}

input[type="text"]{
    padding: 10px;
    border: 1px solid var(--box-shadow-light);
    border-radius: 5px; 
    margin-bottom: 10px;
}


.timer{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.clock{
    margin: 10px;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--box-shadow-light) 3px solid;
}

.start-timer, .stop-timer {
    background-color: var(--color-button-main);
    color: var(--color-button);
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
    width: 100px;
    height: 40px;
    margin: 5px;
    

}

.start-timer:hover {
    background: var(--color-button-secondary);
    color: white;
}

.stop-timer:hover{
    background-color: var(--color-text-error);
    color: white;
}


.title-card, .time{
    text-align: center;
    width: 100%;
    border-bottom: 1px solid var(--box-shadow-light);
}

.start-timer:active, .stop-timer:active {
    transform: scale(0.95);
    background-color: var(--bg-light);
}


/* ------------------------------------------------------- */

.task-item {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    transition: 0.2s ease;
    padding: 5px;

}


.task-item:hover{
    background-color: var(--color-button-secondary);
    box-shadow: 1px 1px 10px var(--box-shadow-light);
    transform: translateY(-2px);
    color:white;
}

.task-item.completed{
    text-decoration: line-through;
    background-color: var(--color-text-correct);
    padding: 5px;
    
}


.complete, .edit-task, .delete-task {
    background: var(--color-button-main);
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
    align-items: center;
    border-radius: 15px;
    color: var(--color-button);
    width: 30px;
    height: 30px;
    text-align: center;
}

.complete:hover {
    background: var(--color-text-correct);
    color: white;
}

.edit-task:hover {
    background: var(--color-text-secondary);
    color: white;
}

.delete-task:hover {
    background: var(--color-text-error);
    color: white;
}
.delete-task:active{
    background: rgb(69, 0, 0);
    color: white;
}


/* ------------------- */
.switch{
    height: 100px;
    width: 40px;
    z-index: 3;
    background-color: var(--bg-light);
    box-shadow: 1px 1px 10px var(--box-shadow-light);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.div-switch{
    -webkit-appearance: none;
    height: 100px;
    width: 40px;
    z-index: 3;
    background-color: var(--bg-light);
    box-shadow: 1px 1px 10px var(--box-shadow-light);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    z-index: 4;
    cursor: pointer;
}
 
/* .div-switch::before{
    content: "";
    position: absolute;
    height: 40px;
    width: 20px;
    border-radius: calc(10px/2);
    z-index: 1;
    top:0;
    box-shadow: 1px 1px 10px var(--bg-secundary);
    background-color: var(--bg-light);  
    transform: translateY(180px);
    right: 20px;
}    */

.div-switch::after{
    content: "";
    position: absolute;
    opacity: 1;
    height: 40px;
    width: 20px;
    border-radius: calc(10px/2);
    z-index: 3;
    box-shadow:  1px 1px 10px var(--box-shadow-light);
    top:0;
    left: calc(100% - 40px);
    transform: translateY(180px);

    transition:0.3s ease-in-out;
    right: 20px;
}

.div-switch:checked::after{
    opacity: 1;
    transform: translateY(220px);
}


@media (min-width:476px) {
    .div-switch::after{
    content: "";
    position: absolute;
    opacity: 1;
    height: 40px;
    width: 20px;
    border-radius: calc(10px/2);
    z-index: 3;
    box-shadow:  0px 1px 2px var(--box-shadow-input);
    top:0;
    left: calc(100% - 40px);
    transform: translateY(132px);

    transition:0.3s ease-in-out;
    right: 20px;
}

.div-switch:checked::after{
    opacity: 1;
    transform: translateY(172px);
}
}